/* 베이스 */
@font-face {
  font-family: 'LeferiBaseType';
  src: url('../font/LeferiBaseRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeferiBaseTypeBold';
  src: url('../font/LeferiBaseBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* 포인트 블랙 */
@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('../font/LeferiPointBlack.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeferiPoint-BlackObliqueA';
  src: url('../font/LeferiPointBlackOblique.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* 포인트 화이트 */
@font-face {
  font-family: 'LeferiPoint-White';
  src: url('../font/LeferiPointWhite.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeferiPoint-WhiteItalic';
  src: url('../font/LeferiPointWhiteOblique.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* 나눔스퀘어라운드 */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('../font/NanumSquareRoundOTFR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumSquareRoundB';
  src: url('../font/NanumSquareRoundOTFB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}