// 초기화
@import "./reset.css";
// 변수
@import "./variable.scss";
// 폰트
@import "./font.css";

body {
  font-family: $Leferi;
  line-height: 1.5;
}

/* 드래그 시 색상변경 */
::selection{
  background:#999;
  color:#fff;
}
/* 모질라 */
::-moz-selection{
  background:#999;
  color:#fff;
}

/* hidden Word / 접근성을 위한 숨김 글자 */
.hiddenWord{
  position: absolute;
  overflow:hidden;
  clip-path:polygon(0 0, 0 0, 0 0);
  width:1px; height:1px;
  margin:-1px;
}