@import "../../asset/style/variable.scss";

.projectWrapper{
   width:70%;
   margin:0 auto 150px;
   // padding:0 calc(1635px - 1483px);
   .projectList{
      width:100%;
      display:flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap:0 91px;
      li{
         width:38.750em;
         min-height:717px;
         text-transform: uppercase;
         .projectPhoto{
            min-height:510px;
            display:flex;
            position:relative;
            align-items: center;
            overflow: hidden;
            z-index: 9;
            &:hover{
               img{
                  transform: scale(1.1);
               }
            }
            img{
               transition: .8s;
            }
            .hoverFloat{
               opacity: 0;
               display:flex;
               justify-content: center;
               align-items: center;
               width:100%;
               height:100%;
               position:absolute;
               top:0;
               right:0;
               background-color: rgba($color: #000000, $alpha: .5);
               color:#fff;
               font-size:50px;
               z-index: 99;
               transition: .4s ease;
               &:hover{
                  opacity: 1;
               }
            }
         }
         .langTit{
            font-weight: bold;
            font-size:25px;
            color:#888585;
            margin-bottom:15px;
            display:block;
         }
         .projectTit{
            font-family: $LeferiBold;
            font-weight:bold;
            font-size:50px;
            margin-bottom:15px;
         }
         .projectValue{
            font-size:20px;
            margin-bottom:10px;
         }
         .dateTxt{
            font-size:15px;
            color:#9b9a9a;
         }
      }
   }
}