@media screen and (max-width: 1800px){
   body{
      .introTop{
         .topTit{
            font-size:275px;
         }
      }
      .mainContainer{
         .projectWrapper{
            .projectList{
               li{
                  width:33.75em;
               }
            }
         }
      }
   }
}
@media screen and (max-width: 1450px) { /* 노트북 환경 */
   body{
      .introTop{
         .topTit{
            font-size:220px;
         }
      }
      .mainContainer{
         .projectWrapper{
            margin: 0 auto 100px;
            .projectList{
               li{
                  width: 22.75em;
                  .projectTit{
                     font-size:45px;
                  }
                  .projectPhoto{
                     min-height:350px;
                  }
               }
            }
         }
      }
      .skillContainer{
         .skillWarpper{
            .skillItem{
               padding:30px;
            }
         }
      }
      .footerWrapper {
        .contactMail{
         .emailH3{
            font-size:85px;
         }
        }
      }
   }
}

@media screen and (max-width: 458px) {/* 모바일 환경 */
   /* mobile css 적용을 위한 body 태그 삽입 */
   body{
      /* top */
      .introTop{
         overflow:hidden;
         .topTit{
            font-size:60px;
            width:100%;
            text-align:center;
            &::after{
               left:45%;
               background-size:50%;
            }
         }
         video{
            object-fit: cover;
            width:100%;
            height:100%;
         }
      }
      /* header */
      .headerContianer{
         height:80px;
         nav{
            // overflow: hidden;
            .navInner{
               padding:0 10px;
               width:100%;
               position: relative;
               .headerLogoH1{
                  padding:0;
                  a{
                     font-size:20px;
                     padding:5px 15px;
                  }
               }
               .headNaviList{
                  opacity: 0;
                  pointer-events: none;
                  position: absolute;
                  background: #fff;
                  width: 100%;
                  top: 0;
                  left:0;
                  gap: 5px;
                  justify-content: center;
                  padding: 10px 0;
                  transition: 0.3s;
                  li{
                     font-size:20px;
                     width:30%;
                     padding:0;
                     a{
                        text-align:center;
                     }
                  }
               }
               .on{
                  opacity: 1;
                  pointer-events: all;
                  top:58px;
                  left:0;
               }
               .moMenuOpen{
                  display:block;
                  padding:20px;
                  background: url(../../asset/images/icon_menu.png) no-repeat 50%;
               }

            }
         }
      }
      /* project */
      .projectWrapper{
         .projectList{
            gap:50px 0;
            li{
               .langTit{
                  font-size:20px;
               }
               .projectTit{
                  font-size:33px;
               }
               .projectValue{
                  font-size:15px;
               }
               .dateTxt{
                  font-size:10px;
               }
            }
         }
      }
      /* skill */
      .skillContainer{
         .skillWarpper{
            width:85%;
            .skillItem{
               flex-wrap: wrap;
               padding:30px 0;
               justify-content: flex-start;
               .itemWrapper{
                  justify-content: flex-start;
                  width:100%;
               }
               .skillBul{
                  font-size:15px;
                  padding-top:3px;
                  height:30px;
               }
               .techWrapper{
                  flex-wrap: wrap;
                  justify-content: flex-start;
                  margin-top:10px;
                  .techIntro{
                     .techTit{
                        font-size:20px;
                     }
                     .techInfo{
                        li{
                           font-size:15px;
                        }
                     }
                  }
               }
            }
         }
      }
      /* rolling Moblie disable */
      .rollingBox{
         display:none;
      }
      /* footer */
      .footerContainer{
         height:100%;
         .footerWrapper{
            padding: 80px 20px;
            .topIntro{
               display:grid;
               grid-template-columns : 1fr;
               row-gap: 35%;
               text-align:center;
               .rightMent{
                  font-size:20px;
                  order: 2
               }
               .endingMent, .eng50{
                  font-size:25px;
                  text-align:center;
               }
               p{
                  font-size:20px;
               }
            }
            .contactMail{
               margin:30px 0 0 0;
               text-align:center;
               .contItalic{
                  font-size:25px;
               }
               .emailH3{
                  font-size:25px;
                  &:hover{
                     padding:0 10px;
                  }
               }
               .normalW{
                  font-size:22px;
               }
            }
            .goGithub{
               text-align:center;
               margin-top:20px;
               p{
                  font-size:40px;
               }
            }
         }
      }
   }
   /* subPage */
   body{
      .subContainer{
         margin:0;
         .titleSpot{
            position: static;
            display:flex;
            justify-content: center;
            align-items: center;
            height:30vh;
            padding:50px 0;
            overflow: hidden;
            .titleBox{
               position: static;
               width:100%;
               text-align:center;
               .value{
                  font-size:15px;
               }
               .title{
                  font-size:35px;
               }
               .date{
                  font-size:13px;
               }
            }
            .thumBox{
               display: none;
            }
         }
         .contSpot{
            position: static;
            padding:50px 0;
            .Wrapper{
               width:100%;
               max-width: fit-content;
               padding: 0 30px;
               .contInner{
                  .QAlist{
                     li{
                        font-size:25px;
                        .textBox{
                           .Question{
                              font-size:14px;
                              padding:25px 10px;
                              .mobileInline{
                                 display:inline;
                              }
                              &.mobileExpend{
                                 margin-bottom:100px;
                                 img{
                                    transform:scale(1.25);
                                 }
                              }
                              .questionList{
                                 dt{
                                    padding-top:5px;
                                    background-size:5%;
                                    background-position: 2% 50%;
                                    font-size:18px;
                                 }
                                 dd{
                                    padding-left:10px;
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }
         }
      }
   }
}
