// 변수
@import "../../asset/style/variable.scss";

// Top
.introTop {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 99;
  overflow: hidden;
  .topTit {
    width:100%;
    text-align:center;
    font-family: $LeferiBold;
    font-size: 290px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
    color: #fff;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    &::after{
      content: '';
      position: absolute;
      width:50px;
      height:50px;
      left:50%;
      top:90%;
      background: url(../../asset/images/icon_down.png) no-repeat 50% 50%;
      animation: onOff 1.8s linear infinite;
    }
  }
  /* .topVideo {
    @include sizeSetting($width: 100%, $height: 100%);
  } */
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100%;
    height: 100%;
  }
}
